<%= stylesheet_link_tag "/app/assets/stylesheets/lottoes.css" %>

<div class='hamo' id='hamo'>    
    <% @gol.each do |g| %>
        추출 번호:<%= g.board_title %><br>
        당첨 결과:<%= g.board_content %><hr>
    <% end %>
</div>